@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


:root {
    --blue: #45b5ff;
    --white: #fff;
    --red: #ff1414;
    --black1: #222;
    --black2: #999;
    --black3: #2e2b24;
    --azure: #F0FFFF;
    --fuchsia: #FF00FF;
    --green: #00fb11ca;
    --red: #f70015e4;
    --orange: #e9b10a;
}

body {
    min-height: 100vh;
    background: #eef5fe;
}

.flex {
    display: flex;
    align-items: center;
}

.nav_image {
    display: flex;
    min-width: 55px;
    justify-content: center;
}

.nav_image img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    background: #ffffff;
    padding: 15px 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: width 0.1s ease-in-out;
    -webkit-transition: width 0.1s ease-in-out;
    -moz-transition: width 0.1s ease-in-out;
    -ms-transition: width 0.1s ease-in-out;
    -o-transition: width 0.1s ease-in-out;
}

.sidebar.close {
    width: 75px;
}

.logo_items {
    gap: 4px;
}

.logo_name {
    font-size: 22px;
    color: #333;
    font-weight: 500;
    transition: all 0.3s ease;
}

.sidebar.close .logo_name,
.sidebar.close #hamburger-icon,
.sidebar.close #sidebar-close {
    cursor: pointer;
    color: #333;
    /* Ensure it's visible */
}

#hamburger-icon {
    font-size: 40px;
    /* Perbesar ukuran hamburger */
    padding: 0px;
    /* Sesuaikan padding agar lebih besar */
    margin-top: 0px;
    /* Geser hamburger sedikit ke atas */
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 20;
    /* Pastikan hamburger berada di atas elemen lain jika diperlukan */
}

.sidebar.close #hamburger-icon {
    background: transparent;
}

#hamburger-icon,
#sidebar-close {
    padding: 10px;
    margin-left: 5px;
    color: #000;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
    overflow-y: auto;
    height: calc(100% - 82px);
}

.menu_item bx {
    margin-left: 5px;
}

.menu_container::-webkit-scrollbar {
    display: none;
}

.menu_title {
    position: relative;
    height: 50px;
    width: 55px;
}

.menu_title .title {
    margin-left: 15px;
    transition: all 0.3s ease;
}

.sidebar.close .title {
    opacity: 0;
}

.menu_title .line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 20px;
    border-radius: 25px;
    background: #aaa;
    transition: all 0.3s ease;
}

.menu_title .line {
    opacity: 0;
}

.sidebar.close .line {
    opacity: 1;
}

.item {
    list-style: none;
}

.link {
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #707070;
}

.link:hover {
    color: #fff;
    background-color: #4070f4;
}

.link span {
    white-space: nowrap;
}

.link i {
    height: 50px;
    min-width: 55px;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.sidebar_profile {
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-top: 15px;
    gap: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.sidebar_profile .data_text .email {
    font-size: 12px;
    /* Ubah ukuran font sesuai kebutuhan */
    color: #707070;
    /* Sesuaikan warna jika perlu */
}


.data_text {
    display: flex;
    flex-direction: column;
}

/* .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    background-color: #fff; 
} */

/* Menambahkan style pada logo_items */
.logo_items {
    display: flex;
    align-items: center;
    /* Menjaga logo dan teks sejajar secara vertikal */
}

.logo_items .nav_image {
    margin-right: 5px;
    /* Memberi jarak antara logo dan nama */
}

.search_box {
    flex-grow: 1;
    /*Memberiruangkosongdiantaraelemenpencarian*/
    padding: 8px;
    margin: 0 20px;
    /*Memberikanjarakdenganelemenlainnya*/
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info .nav_image {
    margin-right: 10px;
    /* Memberi jarak antara gambar dan teks */
}

.user-info .data_text {
    display: flex;
    flex-direction: column;
    text-align: right;
    /* Menyusun teks username dan email secara vertikal */
}

.user-info .data_text .name {
    font-weight: bold;
}

.user-info .data_text .email {
    font-size: 0.9em;
    color: #333;
}

.navbar {
    z-index: 10;
    max-width: 100%;
    width: calc(100% - 270px);
    position: fixed;
    top: 0;
    margin-left: 270px;
    background: #45b5ff;
    padding: 10px 5px;
    justify-content: space-between;
    align-items: center;
    /* Menjaga semua elemen navbar sejajar secara vertikal */
    ;
}

.main {
    position: relative;
    width: calc(100% - 270px);
    margin-left: 270px;
    min-height: 100vh;
    font-size: 1rem;
    margin-top: 65px;
}

.sidebar.close~.card-container,
.sidebar.close~.navbar,
.sidebar.close~.main {
    width: calc(100% - 75px);
    margin-left: 75px;
}

/* .search_box {
    height: 46px;
    max-width: 500px;
    width: 100%;
    border: 1px solid #aaa;
    outline: none;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 18px;
    color: #333;
} */

.navbar img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

.header-container h1 {
    margin-bottom: 30px;
    margin-left: 10px;
    letter-spacing: 1px;
}

/* .search_box {
    height: 46px;
    max-width: 500px;
    width: 100%;
    border: 1px solid #aaa;
    outline: none;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 18px;
    color: #333;
} */

.navbar img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
}


.container {
    position: relative;
    width: calc(100% - 270px);
    margin-left: 270px;
    padding: 20px;
    min-height: 100%;
    margin-top: 65px;
}

.sidebar.close~.header-container,
.sidebar.close~.card-container {
    width: calc(100% - 75px);
    margin-left: 75px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 270;
    margin-top: 20px;
    flex-wrap: wrap;
    max-height: calc(100% - 75px);
    /* Sesuaikan dengan tinggi yang diinginkan */
    overflow-y: hidden;
    /* Pastikan tidak ada scroll vertikal di card-container */
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33% - 20px);
    /* Lebar card */
}

.card p {
    margin-bottom: 20px;
}

.card-button {
    background-color: #4070f4;
    text-align: center;
    text-decoration: none;
    /* Warna hijau */
    color: white;
    border: none;
    border-radius: 8px;
    /* Sudut yang lebih halus */
    padding: 12px 20px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    /* Tambah transisi untuk transformasi */
}

.card-button:hover {
    background-color: #265cf0;
    /* Warna hijau lebih gelap saat hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Tambah efek bayangan saat hover */
    transform: scale(1.05);
    /* Efek sedikit membesar */
}


@media screen and (max-width: 1100px) {
    .navbar {
        margin-left: 270px;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        left: 0;
        z-index: 1000;
    }

    .sidebar.close {
        left: -100%;
    }

    .navbar {
        left: 0;
        max-width: 100%;
        transform: translateX(0%);
    }
}