@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



/* Style untuk body halaman */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  background: url(/projectdesa/img/10515253.png);
  background-position: center;
  background-size: cover;
  position: relative;
}



.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 850px;
  border: 3px solid #6ebdfdc7;
  box-shadow: 0 0 30px #64b5f6;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(9px);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  /* z-index: 12;
  width: 600px;
  border-radius: 12px; */
  /* background: #fff; */
  /* margin: 0 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.content .image-box {
  max-width: 45%;
}

.content .image-box img {
  width: 100%;
}

.content .topic {
  font-size: 38px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 500;
  color: black;
}

.content .topic2 {
  font-size: 20;
  text-align: center;
  font-weight: 400;
  color: black;
}

.content form {
  width: 100%;
  margin-right: 30px;
}

.content .input-box {
  height: 100px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}

.content .input-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding: 0 16px;
  background: #fae9fb;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content .input-box input:focus,
.content .input-box input:valid {
  border-color: #fff;
  background-color: #fff;
}

.content .input-box label {
  position: absolute;
  left: 18px;
  top: 50%;
  color: #636c72;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content .input-box input:focus~label,
.content .input-box input:valid~label {
  top: 0;
  left: 12px;
  display: 14px;
  color: black;
  background: #fff;
}

.content .message-box {
  min-height: 100px;
  position: relative;
}

.content .message-box textarea {
  position: absolute;
  height: 100%;
  width: 100%;
  resize: none;
  background: #fae9fb;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  padding: 5px 16px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content .message-box textarea:focus {
  border-color: black;
  background-color: #fff;
}

.content .message-box label {
  position: absolute;
  font-size: 16px;
  color: #636c72;
  left: 18px;
  top: 6px;
  pointer-events: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content .message-box textarea:focus~label {
  left: 12px;
  top: -10px;
  color: black;
  font-size: 14px;
  background: #fff;
}

.content .input-box input[type="submit"] {
  color: #fff;
  background: rgb(44, 241, 38);
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content .input-box input[type="submit"]:hover {
  background-color: rgb(12, 192, 6);
}